{% extends "base.html" %}

{% block header %}

    <header id="header">
    <div class="logo"></div>
  
   <li><a href="/" class="absolute">Αρχική</a></li>
   </header>
   <nav id="navigation">
    <ul>
      <li><a href="/works/" class="works">Έργα</a></li>
      <li><a href="/contact/" class="contact">Επικοινωνία</a></li>
      <li><a href="/who_we_are/" class="airleft">Συστάσεις</a></li>
      <li><a href="/">Αρχική</a></li>
    </ul>
   </nav>     
 
{% endblock %}

{% block content_one %}

  
{% endblock %}

{% block content_two %}
<div>
  <h3 class="header_color">{{ s.2.title }}</h3>
  <p class="multi_colums">{{ s.2.text|safe }}</p>
</div>  
<div>
    <h2 class="header_color">Στείλτε μας ένα μήνυμα</h2>

   
       <div class="center_form">
           <form action="" method="post">{% csrf_token %}
              <div class="field">
                  <label for="id_subject"><p>Όνομα</p></label>
                  {{ form.subject.errors }}
                  {{ form.subject }}
              </div>
              <div class="field">
                  <label for="id_email"><p>E-mail</p></label>
                  {{ form.email.errors }}
                  {{ form.email }}
              </div>
              <div class="field">
                  <label for="id_message"><p>Σχόλιο</p></label>
                  {{ form.message.errors }}
                  {{ form.message }}
              </div>
              <div id="submit">
              <input type="submit" value="Αποστολή">
            </div>
          </form>
      </div>
</div>    
{% endblock %}      
